.black{
  color: black;
}
.red{
  background-color: rgb(200, 30, 30);
}

    .tentang-code{
        padding: 15% 0 15% 0;
      }

        .tentang-code-daftar{
          color: #96281B;
          text-align: center;
        }
