.btn-daftar{
      background-color: white;
      margin-right: 10px;
      color: Black;
}

      .content h3,
      .content p,
      .login-via p
      {
            color: black;
      }

      .input-login p{
            color: black;
            float: right;
            margin: 10px;
      }

      .input-group{
            margin: 10px;
      }

      .btn-signin{
            background-color: rgb(200, 30, 30);
            width: 90%;
            color: white;
            display: block;
            margin: auto;
      }

      .login-via p{
            margin-top: 10%;
      }

      .login-media{
            border: 1px solid red;
            padding: 5px 15px;
            margin: 5% 10px;
      }
